body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#myapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#menu {
  align-self: flex-end;
  padding-right: 0.8rem;
  margin: 0;
  background-color: yellow;
}
#preview {
  /* margin: auto; */
  max-width: 350px;
  height: 350px;
  border: 2px dotted blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.previewText{
  display: none;
}
#upload{
  display: none;
}
#uploadedImage{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hideImage{
  display: none;
}
/* #filters {
  width: 50vw;
  transform: translateX(450px);
} */
span{
  display: block;
}